/** bootstrap overloads **/
 .navbar-brand {
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 21px;
}
html, body {
    height: 100%;
}
/* Wrapper for page content to push down footer */
 #wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
 #footer {
    height: 60px;
    background-color: white;
    text-align: center;
    padding-top:15px;
    border-top: 1px darkgray solid;
}
#footer a {
    font-size: 0.8em;
    color: black;
    margin: 5px;
}
h1 {
    letter-spacing: -2px;
}
h3 {
    letter-spacing: -1px;
}
a {
    text-decoration: none !important;
}
.gr-face {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gr-qual {
    padding-left:10px;
    border-left:10px solid darkslategray;
    height: 100%;
    margin-top: 20px;
}
.gr-wexp {
    padding-left:10px;
    border-left:10px solid darkslategray;
    height: 100%;
    margin-top: 20px;
}
.line-spacing-regular {
    line-height:2em;
}
.nowrap {
    white-space:nowrap;
}
.gr-glyphicon {
    font-size: 0.8em;
    color: #999999;
    margin-right: 5px;
}
.gr-btn-io {
    vertical-align: middle;
    margin-left: 5px;
}
.gr-right-5 {
    margin-right: 5px;
}
.gr-right-10 {
    margin-right: 10px;
}
.gr-left-5 {
    margin-left: 5px;
}
.popover-content {
    letter-spacing: 0px;
}
.gr-inline-select {
    width: 40%;
    margin-right: 5px;
    display: inline-block;
}
.gr-strike-true {
    text-decoration: line-through;
    color: lightgray;
}
.gr-font-2x {
    font-size: 1em;
}
.gr-bottom-5 {
    margin-bottom: 5px;
}
.gr-bottom-10 {
    margin-bottom: 10px;
}
.gr-top-5 {
    margin-top: 5px;
}
.gr-top-10 {
    margin-top: 10px;
}
/* Bootstrap 3 temp styles till  Angular-Bootstrap 0.7.0 */
 .modal {
    display: block;
}
.hide {
    display: none;
}
div.form-group div.alert {
    margin-top: 5px;
}
input[type='checkbox'] {
    margin-right:5px;
}
.control-label {
    white-space: nowrap;
}
/*span.glyphicon {
    margin-right: 5px;
}*/
 .label {
    font-size: 100% !important;
    font-weight: normal;
    padding: .2em .5em !important;
}
.gr-right-align {
    text-align: right;
}
.gr-center-align {
    text-align: center;
}
div.well>h2 {
    margin-top: 0px;
}
.navbar {
    border-radius: 0px;
}
.gr-home-container {
    text-align: center;
}
.gr-home-container > span {
    font-size: 5em;
    margin-bottom: 30px;
}
.light-shadow {
    text-shadow: gray 0px 2px 5px;
}
.logo {
    letter-spacing: -1px;
    color: darkslategray;
}
.navbar-inverse {
    border: 0px;
}
/*.gr-timeline-section > h5 {
  margin-bottom: 5px;
  margin-left: 10px;
}*/
 .circle {
    background: coral;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin: 0;
}
.circle-semi {
    background: white;
    border: 2px coral solid;
}
.gr-vis-year {
    display: inline-block;
    margin-right: 5px;
    color: lightslategrey;
}
.large-input {
    font-size: 2em;
    height: auto;
}
.small-line-height {
    line-height:1em;
}
.small-text {
    font-size: 0.7em;
}
.smaller-text {
    font-size: 0.6em;
}
.gr-summary-label {
    color: rgba(255, 255, 255, 0.75);
    padding: 0px 20px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    font-size: 5em;
    display: inline-block;
}
.panel-title {
    font-size:1.5em;
    font-weight: bold;
}
.gr-personal-block {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: lightgrey;
    padding: 10px;
    border-left: 10px darkgrey solid;
    border-radius: 4px;
}
.gr-search-progress {
    height: 5px;
    background-color: coral;
}
.gr-search-result {
    width:200px;
    background-color: lightgrey;
    display: inline-block;
    margin: 10px;
    color: grey;
    font-size: 55px;
    letter-spacing: -7px;
    text-align: right;
    padding-right: 20px;
}
.gr-blinker {
    /*font-size:2em;*/
    letter-spacing:-2px;
}
#loading-bar .bar {
    background: coral;
    height: 3px;
}
#loading-bar .peg {
    box-shadow: 0 0 10px coral, 0 0 5px coral;
}
#loading-bar-spinner .spinner-icon {
    display: none;
}
/** text angular **/
 .btn-toolbar {
    margin-bottom: 3px;
    float: right;
}
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
}
.gr-search-result {
    cursor: pointer;
}
.gr-big-li {
    margin-bottom: 20px;
}
.gr-big-li > a:hover {
    text-decoration: none;
}
.gr-invited-result {
    color: coral;
    background-color: wheat;
}
.gr-ng-grid {
    height: 400px;
}
.gr-ad-card {
    background-color: #F3F3F3;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left:20px;
    padding-right: 20px;
    cursor: pointer;
    padding-bottom: 27px;
    padding-top: 13px;
    width: auto;
    min-width: 30%;
    max-width: 60%;
    float: left;
    border-top: 5px solid #007196;
}
.gr-ad-card:hover {
    background-color: #DFDFDF;
}
.gr-ad-card > .gr-ad-title {
    margin-top: 10px;
}
.gr-faded {
    opacity: 0.5;
}
.gr-unread {
    border-left: 5px solid crimson;
    padding: 5px;
}
.gr-read {
    border-left: 5px solid lightgrey;
    padding: 5px;
}
.gr-clickable {
    cursor: pointer;
}
.gr-hseperator {
    width: 20px;
}
.gr-info {
    margin-left: 15px;
    font-size: 80% !important;
}
.gr-info-profile {
    opacity: 0.5;
    font-size: 100% !important;
}
.gr-middle {
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    padding-bottom: 50px;
    width: auto;
    color: white;
}
.gr-back-img {
}
.gr-profile-score {
    position: relative;
    top: -10px;
}
.gr-pic-credit {
    /*margin-top: 50px;*/
    color: lightcoral;
    font-weight: 100;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    font-size: 0.7em;
    /*float: right;*/
}
.gr-skill-block {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}
.gr-center-div {
    margin: 0 auto;
}
.gr-highlight {
    color:skyblue;
}
.gr-sub-highlight {
    color:blanchedalmond;
}
.gr-stat {
    font-size: 1.3em;
    margin-bottom: 5px;
    letter-spacing: -1px;
    font-weight: 400;
}
.gr-inline-stats {
    text-align: center;
}
.gr-score {
    font-size: 4em;
    font-weight: 800;
    border: 10px solid white;
    padding: 15px;
    color: rgba(255, 255, 255, 0.75);
}
.gr-inline-stats .desc {
    font-weight: 700;
}
.panel-body .gr-stat .label {
    padding: 10px !important;
}
.gr-timline-section-wrapper {
    margin-bottom: 15px;
}
.label-wrapper {
    margin-top: 18px;
    margin-bottom: 18px;
}
.gr-summary-label .gr-small {
    font-size: 12px;
    font-weight: lighter;
    vertical-align: super;
    margin-left: 10px;
    cursor: pointer;
}
.gr-summary-label .gr-small : hover {
    color: rgba(255, 255, 255, 1.0);
}
.gr-logo-container {
    background-color:rgba(0, 0, 0, 0.6);
    color:white;
    width: 100%;
    margin-top: 50px;
}
.gr-logo-container > p {
    padding-top: 30px;
    font-size: 1.5em;
    letter-spacing: -1px;
}
.gr-home-logos {
    display:inline-block;
    height: 100px;
    margin: 30px 10px;
    background-color: white;
    padding: 5px;
}
.gr-input-lg {
    font-size: 1.5em;
    width: 100%;
}
.placeholder-text {
    color: gray;
}
.gr-train li {
    list-style-type: none;
    float: left;
    position: relative;
    padding-bottom: 20px;
    background-color: gray;
    width: 33%;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
}
.gr-train li.init {
    opacity: 0.5;
    background-color: gray;
}
.gr-train li.done {
    opacity: 1.0;
    background-color: #43ac6a;
}
.gr-linkedin-login {
    padding: 10px;
    border: 1px solid lightgrey;
}
.gr-landing .back-img {
    background:url(https://s3-us-west-2.amazonaws.com/hirewire-static/images/colombo_hirewire.jpg) no-repeat center center fixed; 
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: grey 0px 0px 20px 5px;
}
.gr-landing .top {
    top: 0;
    bottom: 0;
}
.gr-landing .filler {
    height: 200px;
    color: white;
}
.gr-landing .content .content-img {
    font-size: 100px;
    color: lightgrey;
}
.gr-landing .content .content-text {
    color: black;
}
.gr-landing .content h1 {
    font-size:60px;
    text-align: center;
    /*margin-bottom: 20px;*/
}
.gr-landing .well {
    margin-bottom: 50px;
}
.accessory {
    height: 6px;
    background-image: radial-gradient(closest-side, lightgrey, rgba(255, 255, 255, 0) 100%);
    position: relative;
    border: 0;
    margin: 50px;
}