<div class="jumbotron row">
    <div class="container col-md-6">
        <p>We will send your invite within 3-4 days... But, want to get your invitation within the next 24 hours?</p>
        <p>Like this post, and we will send you a
            <strong>priority invite.</strong>
        </p>
    </div>
    <div class="container col-md-6">
        <div id="fb-root"></div>
        <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-post" data-href="https://www.facebook.com/photo.php?fbid=292643494225593&amp;set=a.115077508648860.21722.100372613452683&amp;type=1" data-width="466">
            <div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/photo.php?fbid=292643494225593&amp;set=a.115077508648860.21722.100372613452683&amp;type=1">Post</a> by <a href="https://www.facebook.com/HireWirelk">HireWire.lk</a>.</div>
        </div>
    </div>
</div>
<!-- Facebook Conversion Code for signup for invites -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6012934240312';
fb_param.value = '0.01';
fb_param.currency = 'USD';
(function() {
    var fpw = document.createElement('script');
    fpw.async = true;
    fpw.src = '//connect.facebook.net/en_US/fp.js';
    var ref = document.getElementsByTagName('script')[0];
    ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript>
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6012934240312&amp;value=0.01&amp;currency=USD" />
</noscript>