<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Download CV</h4>
    </div>
    <div class="modal-body">
        <button class="btn btn-success btn-lg" ng-click="download();">Download CV</button>
    </div>
</div>
<!-- /.modal-content -->
<script src="//cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="//parall.ax/parallax/js/jspdf.js"></script>