<div class="jumbotron">
    <div class="container">
        <h1>You're awesome!</h1>
        <p>Thanks for signing up. We will send an e-mail to your inbox shortly. Be sure to click the link in there to activate your account.</p>
    </div>
</div>
<!-- Facebook Conversion Code for signup for invites -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6012934240312';
fb_param.value = '0.01';
fb_param.currency = 'USD';
(function() {
    var fpw = document.createElement('script');
    fpw.async = true;
    fpw.src = '//connect.facebook.net/en_US/fp.js';
    var ref = document.getElementsByTagName('script')[0];
    ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript>
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6012934240312&amp;value=0.01&amp;currency=USD" />
</noscript>