<div class="gr-ad-card" ng-repeat="ad in ads | filter:searchText | orderBy:'-postedOn'" ng-click="go(ad)" ng-hide="ads.length===0">
    <h4 class="gr-ad-title">{{ad.jobRole}}</h4>
    <span class="label label-info" am-time-ago="ad.postedOn"></span>
    <span class="label label-info">{{ad.organization.name}}</span>
    <img src="">
</div>
<div class="alert alert-info" ng-show="ads.length===0">
    There are currently no advertisements that employers have made available for you to apply. Please check in later.
</div>