<div class="row">
	<div class="col-md-3">Name</div>
	<div class="col-md-4">Email</div>
	<div class="col-md-1">Parsed</div>
	<div class="col-md-4">Profile Completion</div>
</div>
<hr>
<div>
	<h2>Total users: <span class="label label-success">{{data.length}}</span></h2>
	<h2>Filled users: <span class="label label-success">{{goodUsers.length}}</span></h2>
</div>
<hr>
<div bindonce ng-repeat="user in data" class="row">
	<div class="col-md-3"><span bo-text="user.firstName"></span> <span bo-text="user.lastName"></span></div>
	<div class="col-md-4" bo-text="user.email">{{user.email}}</div>
	<div class="col-md-4 row">
		<span class="label label-default col-md-3" bo-text="user.qualifications.length"></span>
		<span class="label label-default col-md-3" bo-text="user.tenures.length"></span>
		<span class="label label-default col-md-3" bo-text="user.skills.length"></span>
		<span class="label label-success col-md-3" bo-text="user.qualifications.length + user.tenures.length + user.skills.length"></span>
	</div>
</div>