<div class="jumbotron">
	<div class="container">
		<h1>Searching for jobs?</h1>
		<p>With hirewire.lk, most of our employers will look at an <a ui-sref="viewProfilePrivate">anonymous version</a> of your profile and contact you directly and call you for an interview.</p><p>But a small number of them will advertise their vacancies here. If they are related to the information you have in your profile, you will see these ads.</p>
	</div>
</div>

<div ng-hide="emptyProfile">
	<input type="text" id="input" placeholder="Search here for the designation or organization" class="form-control" value="" required="required" ng-model="searchText">
	<hr>
	<div search-text="searchText" ads="ads" gr-ad-preview></div>
</div>
<div ng-show="emptyProfile">
	<div class="alert alert-info">
		<h2>We don't have enough information about you</h2> <p>Sorry, but your profile does not contain qualifications or work experience information for us to display relevant advertisements. Please build your profile and come back.</p>
		<hr>
		<p><a type="button" class="btn btn-success" ui-sref="profileBuilder">Let's build my profile</a></p>
	</div>
</div>