<div class="jumbotron row" ng-show="!step">
    <h1>Let's build your profile in 3 minutes!</h1>
    <hr>
    <div class="col-md-5">
        <img src="https://s3-us-west-2.amazonaws.com/hirewire-static/images/onmac.png" class="img-responsive img-rounded" alt="Image">
    </div>
    <div class="col-md-7">
        <strong>Why?</strong>
        <ul>
            <li>Let us recommend you to employers automatically</li>
            <li>Get contacted by interested employers directly</li>
            <li>Create a beautiful downloadable CV <i>(coming soon)</i>
            </li>
            <li>Apply to any public ad posted</li>
        </ul>
        <p>
            <div class="small-text gr-center-align">
                <p class="gr-linkedin-login">Get data from LinkedIn
                    <script type="in/Login"></script>
                </p>
                <p>or</p>
                <a class="btn btn-primary" role="button" ng-click="start();">Fill information manually</a>
                <a class="btn btn-default" role="button" ng-click="skip();">Skip</a>

            </div>
        </p>
    </div>
</div>
<div id="train" class="gr-train" ng-show="step">
    <h1>Let's build your profile in 3 minutes!</h1>
    <hr>
    <ul>
        <li ng-class="steps[0].status" ng-click="open(1)">
            <h1>
                <span class="glyphicon glyphicon-briefcase"></span>
            </h1>
            <h3>Step 1</h3>Your current job/qualification</li>
        <li ng-class="steps[1].status" ng-click="open(2)">
            <h1>
                <span class="glyphicon glyphicon-wrench"></span>
            </h1>
            <h3>Step 2</h3>Top 5 skills</li>
        <li ng-class="steps[2].status" ng-click="open(3)">
            <h1>
                <span class="glyphicon glyphicon-calendar"></span>
            </h1>
            <h3>Step 3</h3>Date of Birth</li>
    </ul>
    <hr>
</div>

<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 75ftgfyz0rxcmi
    onLoad: onLinkedInLoad
</script>

<script type="text/javascript">
function onLinkedInLoad() {
    IN.Event.on(IN, "auth", onLinkedInAuth);
}

function onLinkedInAuth() {
    angular.element(document.getElementById('train')).scope().$apply(function  ($scope) {
        console.log($scope);
        $scope.linkedIn();
    });
}
</script>