<h2>{{ad.jobRole}} <p class="label label-info">{{ad.createdOnText}}</p></h2>
<div></div>
<a type="button" ui-sref="viewAdvertisement({adId: ad.id})" class="btn btn-primary"><span class="glyphicon glyphicon-asterisk"></span> View Advertisement</a>
<a type="button" ui-sref="editAdvertisement({adId: ad.id})" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit Advertisement</a>
<a type="button" ui-sref="search({adId: ad.id})" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search for Candidates</a>
<hr/>
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>This campaign is expired</strong> You will not be able to access full candidate information. If you would like to extend this campaign, please contact support.
</div>
<div class="row">
	<div class="col-md-8">
		<div class="gr-ng-grid" ng-grid="gridOptions"></div>
	</div>
	<div class="col-md-4"  ng-show="selectedCandidate[0]">
		<div class="btn-group gr-bottom-5"  style="width:100%;">
		  <button type="button" class="btn btn-default" ng-model="data.status" ng-disabled="!(selectedCandidate[0].status=='accepted' || selectedCandidate[0].status=='applied')" btn-radio="'shortlisted'" style="width:50%;">Shortlist</button>
		  <button type="button" class="btn btn-default" ng-model="data.status" ng-disabled="selectedCandidate[0].status=='rejected' || selectedCandidate[0].status=='withdrawn'" btn-radio="'rejected'" style="width:50%;">Reject</button>
		</div>

        <input type="text"  class="form-control" style="width:100%; margin-bottom:5px;" placeholder="tags: comma seperated" ng-model="selectedCandidate[0].tags">
        
        <a type="button" class="btn btn-success" ng-click="save(selectedCandidate[0], data.status, selectedCandidate[0].tags)" style="width:100%;">Save</a>
        <hr>
        <div gr-visualized-profile>
        </div>
    </div>
</div>
