<h1>Campaign Name</h1>
<hr/>
<!-- 
<div class="panel panel-success">
	  <div class="panel-heading">
			<h3 class="panel-title">Shortlisted</h3>
	  </div>
	  <div class="panel-body">
			<div class="alert alert-warning" ng-show="shortlisted.length==0">
			    No candidates have been shortlisted yet.
			</div>
	  </div>
</div>

<div class="panel panel-info">
	  <div class="panel-heading">
			<h3 class="panel-title">Invited</h3>
	  </div>
	  <div class="panel-body">
			<div class="alert alert-warning" ng-show="invited.length==0">
			    There are no invited candidates.
			</div>
	  </div>
</div>

<div class="panel panel-info">
	  <div class="panel-heading">
			<h3 class="panel-title">Externally Applied</h3>
	  </div>
	  <div class="panel-body">
			<div class="alert alert-warning" ng-show="applied.length==0">
			    There are no externally applied candidates.
			</div>
	  </div>
</div>

-->

<tabset>
	<tab heading="Shortlisted">
		
	</tab>
	<tab heading="Invited">
		
	</tab>
	<tab heading="Externally Applied">
		
	</tab>
	<tab heading="Tagged">
		
	</tab>
</tabset>