<h1>
    <span>{{user.firstName}}</span>
    <span>{{user.lastName}}</span>
    <span class="label label-primary">Past 6 months</span>
</h1>
<hr>
<div class="row">
    <div class="col-md-7 gr-overlay">
        <div class="row gr-inline-stats">
            <div class="col-md-3 col-sm-3 col-xs-3 gr-score label-success">3
                <div class="desc">Times shortlisted by employers</div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 gr-score label-success">7
                <div class="desc">Job Invitations</div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 gr-score label-success">16
                <div class="desc">Profile views by employers</div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 gr-score label-success">178
                <div class="desc">Times returned by search</div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 gr-score label-warning">0.56
                <div class="desc">Profile Health</div>
            </div>
        </div>

        <hr>
        <h3 class="gr-label-row well">Top ranked for:
            <span class="label label-info">
                <span class="glyphicon glyphicon-flash"></span>Business Analysis</span>
            <span class="label label-info">
                <span class="glyphicon glyphicon-flash"></span>Stakeholder Management</span>
            <span class="label label-info">
                <span class="glyphicon glyphicon-flash"></span>Business Process Design</span>
            <span class="label label-info">
                <span class="glyphicon glyphicon-flash"></span>Financial Analysis</span>
            <span class="label label-info">
                <span class="glyphicon glyphicon-bookmark"></span>Bachelors in Business Administration</span>
        </h3>
    </div>
</div>