<div class="row">
    <div class="col-md-8">
        <h1>Campaigns</h1>
        <hr>
        <table class="table table-striped table-hover">
            <tr ng-repeat="campaign in campaigns" ng-class="{'gr-faded':campaign.expired}">
                <td>
                    <a ng-href="#/organization/campaign/{{campaign._id}}">{{campaign.jobRole}}</a>
                </td>
                <td>
                    <span class="label label-success" ng-show="campaign.published">Published</span>
                    <span class="label label-warning" ng-show="!campaign.published">Draft</span>
                    <span class="label label-warning" ng-show="campaign.public">Public</span>
                    <span class="label label-info" ng-show="!campaign.public">Private</span>
                </td>
                <td>
                    <span ng-show="campaign.expired">Expired {{campaign.expiry}}</span>
                    <span ng-show="!campaign.expired">Expiring {{campaign.expiry}}</span>
                </td>
            </tr>
        </table>
        <div class="alert alert-info" ng-hide="campaigns.length > 0">You have no running campaigns</div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Campaign Credit</h3>
            </div>
            <div class="panel-body">
                <p>Your organization has
                    <span class="label label-success">*</span> remaining campaigns.</p>
                <a type="button" class="btn btn-success">Add more</a>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My Organization</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item gr-clickable">
                    <a ui-sref="editOrganization">
                        Edit Organization Profile
                    </a>
                </li>
                <li class="list-group-item gr-clickable">
                    <a ui-sref="viewOrganization({orgId: org._id})">
                        View Organization Profile
                    </a>
                </li>
                <li class="list-group-item gr-clickable">
                    <a ng-click="openCreateUserModal()">
                        Create New User
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Current Users</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="user in users">
                    {{user.email}}&nbsp;
                    <a ng-click="openUserDeleteModal(user._id)" class="gr-clickable" ng-hide="user._id === currentUserId">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>