<div class="row">
	<div class="col-md-8">
		<h1>Campaigns</h1>
		<hr>
		<h3 class="gr-big-li" ng-repeat="campaign in campaigns"><a href="#/organization/campaign/{{campaign._id}}">{{campaign.jobRole}}</a>
			<span class="label label-success">{{moment(campaign.postedOn).format('Do MMM')}}</span>
			<span class="label label-success" ng-show="campaign.published">Published</span>
			<span class="label label-warning" ng-show="!campaign.published">Draft</span>
			<span class="label label-danger" ng-show="campaign.public">Public</span>
			<span class="label label-info" ng-show="!campaign.public">Private</span>
		</h3>
		<div class="alert alert-info" ng-hide="campaigns.length > 0">You have no running campaigns</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">My Organization</h3>
			</div>
			<div class="panel-body">
				<a type="button" class="btn btn-primary" style="margin-bottom:5px;">Edit Organization Profile</a>
				<a type="button" class="btn btn-primary">View Organization Profile</a>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Campaign Credit</h3>
			</div>
			<div class="panel-body">
				<h4>Your organization has <span class="label label-success">4</span> remaining campaigns.</h4>
				<a type="button" class="btn btn-success">Add more</a>
			</div>
		</div>
	</div>
</div>