<h1>How do I get paid for referring my friends?</h1>

<div>
<h3>Step 1: You generate your own unique referral url and send it to friends</h3>
<p>Click on the "Tell a friend" link on any advertisement and we will generate you a unique web address that you can send to your friends on email, chat, facebook or any other way.</p>
</div>

<div>
<h3>Step 2: Your friend signs up and applies to the advertisement through hirewire</h3>
<p>Once your friends click the link, they will see the advertisement. If they choose to apply, we will record your details along with your friend's application.</p>
</div>

<div>
<h3>Step 3: If employer selects your friend, we will contact you and give you the money</h3>
<p>Once the employer recieves the application, and if your friend gets hired, they will let us know, and we will contact you to send your prize money.</p>
</div>
