<ul class="nav navbar-nav">
    <li>
        <a href="#/organization/dashboard">Home</a>
    </li>
    <li>
        <a href="#/organization/ad/create">Create Campaign</a>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>
        <a>
            <span class="badge alert-info">Corporate Account</span>
        </a>
    </li>
    <li>
        <a>
            Hi, {{u.firstName}}!
        </a>
    </li>
    <li>
        <a href="#/logout">
            Logout
        </a>
    </li>
</ul>