<ul class="nav navbar-nav">
    <li>
        <a href="#/organization/dashboard">Home</a>
    </li>
    <li>
        <a href="#/organization/ad/create">New Campaign</a>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>
        <a>
            <span class="badge alert-info">Corporate Account</span>
        </a>
    </li>
    <li>
        <a href="https://stackedit.io/viewer#!provider=gist&gistId=f0f7b24d3e7b5975dba2&filename=walkthrough.html" target="_blank">Help</a>
    </li>
    <li>
        <a>
            Hi, {{u.firstName}}!
        </a>
    </li>
    <li>
        <a href="#/logout">
            Logout
        </a>
    </li>
</ul>