<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#/me/view">View Profile</a>
            </li>
            <li><a href="#/me">Edit Profile</a>
            </li>
            <li><a href="#/me/export">Export as CV</a>
            </li>
            <li><a href="#/me/public">View Public Profile</a>
            </li>
            <li><a href="#/me/limited">View Limited Profile</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#/ads/all">Job Board</a>
    </li>
    <li>
        <a href="#/me/applications">My Applications</a>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a>Hi, {{u.firstName}}! <img email="{{u.email}}" class="img-circle" style="margin: -5px 0;" size="30" src gr-avatar/></a>
    </li>
    <li><a href="#/logout">Logout</a>
    </li>
</ul>