<div class="jumbotron">
    <div class="container">
        <h1>We will send you an invite soon.</h1>
        <p>Want to get your invitation within the next 24 hours? Insert the emails of two of your friends and we will invite them on behalf of you. Plus, we'll send you a priority invite as well.</p>
        <div class="col-md-5">
            <input type="text" class="gr-top-10 form-control" placeholder="e-mail address 1" ng-model="email1">
            <input type="text" class="gr-top-10 form-control" placeholder="e-mail address 2" ng-model="email2">
        </div>
        <div class="clearfix"></div>
        <hr>
        <p>
            <a class="btn btn-primary btn-lg" ng-click="storeInvite()">Invite</a>
        </p>
    </div>
</div>