<div class="gr-middle center-block row">
    <h1 class="gr-center-align {{animateCss}}" style="font-size:3.5em;">Get hired
        <span class="{{animateCss}} gr-highlight">{{what}}</span>.
    </h1>
    <br/>
    <p class="gr-center-align">
        <button type="button" class="btn btn-default btn-success btn-lg" ui-sref="signup">Sign up</button>
        <button type="button" class="btn btn-default btn-success btn-lg" ui-sref="login">Log in</button>
    </div>
</div>
<div class="gr-logo-container text-center">
    <p>These companies use hirewire.lk to directly hire candidates.</p>
    <img src="https://s3-us-west-2.amazonaws.com/hirewire-static/images/expo.jpg" class="img-responsive gr-home-logos" alt="Image">
    <img src="https://s3-us-west-2.amazonaws.com/hirewire-static/images/jkh.gif" class="img-responsive gr-home-logos" alt="Image">
    <img src="https://s3-us-west-2.amazonaws.com/hirewire-static/images/nippon.gif" class="img-responsive gr-home-logos" alt="Image">
    <img src="https://s3-us-west-2.amazonaws.com/hirewire-static/images/keells.jpg" class="img-responsive gr-home-logos" alt="Image">
    <img src="https://s3-us-west-2.amazonaws.com/hirewire-static/images/ntb.png" class="img-responsive gr-home-logos" alt="Image">
    <br>
    <br>
</div>

<span class="gr-pic-credit ng-scope">Image courtesy of Dylan Seedin</span>