<div class="gr-back-img">
    <div class="gr-middle">
        <div class="gr-blinker">hirewire.lk helps
            <span class="{{animateCss}}" style="background-color:lightseagreen">{{who}}</span>
            <span class="{{animateCss}}" style="background-color:maroon">{{what}}</span>
        </div>
        <a class="btn btn-primary" href="http://signup.hirewire.lk/">sign up</a><a class="btn btn-success" ui-sref="login">login</a>
    </div>
    <span class="gr-pic-credit">Image courtesy of Dylan Seedin</span>
</div>