<div class="gr-back-img">
    <div class="gr-middle">
        <div class="gr-blinker"><h1>hirewire.lk helps</h1>
            <h1><span class="{{animateCss}}" style="background-color:lightseagreen">{{who}}</span></h1>
            <h1><span class="{{animateCss}}" style="background-color:maroon">{{what}}</span></h1>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-8">
                <div class="input-group input-group-lg">
                    <input type="text" placeholder="your e-mail address here" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-success" type="button">Sign up!</button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <span class="gr-pic-credit">Image courtesy of Dylan Seedin</span>
</div>