<div>
    <div class="row">
        <div class="col-md-7">
            <h1>
                <span><a href="http://www.gravatar.com/{{user.email}}" target="_blank"><img email="{{user.email}}" class="img-circle" style="margin: -5px 0;" size="60" src gr-avatar/></a></span>
                <span>{{user.firstName}}</span>
                <span>{{user.lastName}}</span>
            </h1>

            <h2>Personal
                <a class="btn btn-xs btn-default gr-btn-io" ng-click="openPersonalModal(user)">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </h2>
            <h4 class="line-spacing-regular">
                <div class="nowrap">
                    <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-home"></span>Location:
                    <span class="label label-primary gr-right-5">{{user.location}}</span>
                </div>
                <div class="nowrap">
                    <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-user"></span>Gender:
                    <span class="label label-primary gr-right-5">{{convertGender(user.gender)}}</span>
                </div>
                <div class="nowrap">
                    <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-phone"></span>Contact Number:
                    <span class="label label-primary gr-right-5">{{user.contactNumber}}</span>
                </div>
                <div class="nowrap">
                    <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-envelope"></span>E-mail:
                    <span class="label label-primary gr-right-5">{{user.email}}</span>
                    </span>
                    <div class="nowrap">
                        <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-bullhorn"></span>Languages:
                        <span class="label label-primary gr-right-5" ng-repeat="language in user.languages">{{language}}</span>
                    </div>
                    <div class="nowrap">
                        <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-asterisk"></span>National Identifier:
                        <span class="label label-primary gr-right-5">{{user.nationalIdentifier}}</span>
                    </div>
                    <div class="nowrap">
                        <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-calendar"></span>Date of Birth:
                        <span class="label label-primary gr-right-5">{{user.dateOfBirth | date:'dd MMMM yyyy'}}</span>
                    </div>
            </h4>
            <div class="well">
                <h2>Qualifications
                    <a class="btn btn-xs btn-default gr-btn-io" ng-click="openQualificationModal()">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                </h2>
                <div class="gr-qual" ng-repeat="qualification in user.qualifications">
                    <h3>{{qualification.name}}
                        <a class="btn btn-xs btn-default gr-btn-io" ng-click="openQualificationModal($index)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-xs btn-danger gr-btn-io" ng-click="openDeleteModal($index, user.qualifications)">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </h3>
                    <h4>{{qualification.field}}</h4>
                    <h4>{{qualification.issuedBy}}
                        <span class="label label-primary gr-right-5">{{qualification.startedOn|date:'MMMM yyyy'}}
                            <span ng-show="qualification.complete">- {{qualification.endedOn|date:'MMMM yyyy'}}</span>
                        </span>
                        <span class="label label-success gr-right-5" ng-show="qualification.complete">Completed</span>
                        <span class="label label-warning gr-right-5" ng-show="!qualification.complete">Incomplete</span>
                    </h4>
                    <span class="label label-default" ng-repeat="result in qualification.result">{{result.name}}: {{result.value}}</span>
                </div>
            </div>
            <div class="well">
                <h2>Work Experience
                    <a class="btn btn-xs btn-default gr-btn-io" ng-click="openTenureModal()">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                </h2>
                <div class="gr-wexp" ng-repeat="tenure in user.tenures">
                    <h3>{{tenure.position}}
                        <a class="btn btn-xs btn-default gr-btn-io" ng-click="openTenureModal($index)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-xs btn-danger gr-btn-io" ng-click="openDeleteModal($index, user.tenures)">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </h3>
                    <h4>
                        <span>{{tenure.organization}}</span>
                        <span class="label label-primary gr-right-5">{{tenure.startedOn | date:'MMMM yyyy'}}
                            <span ng-show="!!tenure.endedOn">- {{tenure.endedOn | date:'MMMM yyyy'}}</span>
                        </span>
                        <span class="label label-info gr-right-5" ng-show="!tenure.endedOn">Currently employed</span>
                    </h4>
                    <!-- <div>
                        {{tenure.responsibilities}}
                    </div> -->
                    <div ng-bind-html="tenure.responsibilities"></div>
                </div>
            </div>
            <div class="well">
                <h2>Skills
                    <a class="btn btn-xs btn-default gr-btn-io" ng-click="openSkillModal()">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                </h2>

                <div class="row" ng-repeat="skill in user.skills">
                    <h4>
                        <div class="col-md-3 gr-right-align">

                            {{skill.name}}
                        </div>
                        <div class="col-md-6">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.experience}}" aria-valuemin="0" style="width: {{skill.experience/maxSkillYears*100}}%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            {{skill.experience}} year
                            <span ng-show="skill.experience>1">s</span>
                        </div>
                    </h4>
                </div>
            </div>

            </div>
            <!--Sidebar-->
            <div class="col-md-4 well well-lg">
                <div class="row">
                    <div class="col-md-10">
                        <h2>
                            <span class="glyphicon glyphicon-signal gr-right-5"></span>Profile Score</h2>
                    </div>
                    <div class="col-md-2">
                        <h1 class="pull-right">+{{stats.score}}</h1>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{stats.score*100/88}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stats.score*100/88}}%;">
                    </div>
                </div>

            </div>
            <div class="col-md-4 well well-lg">
                <h2>
                    <span class="glyphicon glyphicon-th-list gr-right-5"></span>Get more points!
                </h2>
                <hr/>
                <div class="row tips" ng-repeat="tip in stats.tips | orderBy: 'done'">
                    <div class="col-md-2 gr-right-align">
                        <h3 class="label label-success">+{{tip.pts}}</h3>
                    </div>
                    <div class="col-md-9">
                        <p class="gr-strike-{{tip.done}}">{{tip.msg}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>