<div>
    <div class="row">
        <div class="col-md-7">
            <h1>
                <span>
                    <a href="http://www.gravatar.com/{{user.email}}" target="_blank">
                        <img email="{{user.email}}" class="img-circle" style="margin: -5px 0;" size="60" src gr-avatar/>
                    </a>
                </span>
                <span>{{user.firstName}}</span>
                <span>{{user.lastName}}</span>
            </h1>
            <hr>
            <div>
                <div class="well">
                    <h2>Personal
                        <a class="btn btn-xs btn-default gr-btn-io" ng-show="edit" ng-click="openPersonalModal(user)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </h2>
                    <h4 class="line-spacing-regular">
                        <div class="nowrap gr-personal-block">
                            <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-home"></span>Location:
                            <span class="label label-primary gr-right-5">{{user.location}}</span>
                        </div>
                        <div class="nowrap gr-personal-block">
                            <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-user"></span>Gender:
                            <span class="label label-primary gr-right-5">{{convertGender(user.gender)}}</span>
                        </div>
                        <div class="nowrap gr-personal-block">
                            <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-phone"></span>Contact Number:
                            <span class="label label-primary gr-right-5">{{user.contactNumber}}</span>
                        </div>
                        <div class="nowrap gr-personal-block">
                            <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-envelope"></span>E-mail:
                            <span class="label label-primary gr-right-5">{{user.email}}</span>
                        </div>
                        <div class="nowrap gr-personal-block">
                            <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-bullhorn"></span>Languages:
                            <span class="label label-primary gr-right-5" ng-repeat="language in user.languages">{{language}}</span>
                        </div>
                        <div class="nowrap gr-personal-block">
                            <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-asterisk"></span>National Identifier:
                            <span class="label label-primary gr-right-5">{{user.nationalIdentifier}}</span>
                        </div>
                        <div class="nowrap gr-personal-block">
                            <span class="glyphicon gr-glyphicon gr-mild-left glyphicon-calendar"></span>Date of Birth:
                            <span class="label label-primary gr-right-5">{{user.dateOfBirth | date:'dd MMM yyyy'}}</span>
                        </div>
                    </h4>
                </div>
                <div class="well">
                    <h2>Qualifications
                        <a class="btn btn-xs btn-default gr-btn-io" ng-show="edit" ng-click="openQualificationModal()">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </h2>
                    <div class="gr-qual" ng-repeat="qualification in user.qualifications | orderBy:'-startedOn'">
                        <h3>{{qualification.name}}
                            <a class="btn btn-xs btn-default gr-btn-io" ng-show="edit" ng-click="openQualificationModal($index)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-xs btn-danger gr-btn-io" ng-show="edit" ng-click="openDeleteModal($index, user.qualifications)">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </a>
                        </h3>
                        <h4>{{qualification.field}}</h4>
                        <h4>{{qualification.issuedBy}}</h4>
                        <h4>
                            <span class="label label-primary gr-right-5">{{qualification.startedOn|date:'MMM yyyy'}}
                                <span ng-show="qualification.complete">- {{qualification.endedOn|date:'MMM yyyy'}}</span>
                            </span>
                            <span class="label label-success gr-right-5" ng-show="qualification.complete">Completed</span>
                            <span class="label label-warning gr-right-5" ng-show="!qualification.complete">Incomplete</span>
                        </h4>
                        <span class="label label-default" ng-repeat="result in qualification.result">{{result.name}}: {{result.value}}</span>
                    </div>
                </div>
                <div class="well">
                    <h2>Work Experience
                        <a class="btn btn-xs btn-default gr-btn-io" ng-show="edit" ng-click="openTenureModal()">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </h2>
                    <div class="gr-wexp" ng-repeat="tenure in user.tenures | orderBy:'-startedOn'">
                        <h3>{{tenure.position}}
                            <a class="btn btn-xs btn-default gr-btn-io" ng-show="edit" ng-click="openTenureModal($index)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-xs btn-danger gr-btn-io" ng-show="edit" ng-click="openDeleteModal($index, user.tenures)">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </a>
                        </h3>
                        <h4>
                            <span>{{tenure.organization}}</span>
                        </h4>
                        <h4>
                            <span class="label label-primary gr-right-5">{{tenure.startedOn | date:'MMM yyyy'}}
                                <span ng-show="!!tenure.endedOn">- {{tenure.endedOn | date:'MMM yyyy'}}</span>
                            </span>
                            <span class="label label-info gr-right-5" ng-show="!tenure.endedOn">Currently employed</span>
                        </h4>
                        <div ng-bind-html="tenure.responsibilities" style="word-break: break-word;"></div>
                    </div>
                </div>
                <div class="well">
                    <h2>Skills
                        <a class="btn btn-xs btn-default gr-btn-io" ng-show="edit" ng-click="openSkillModal()">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </h2>

                    <h4 class="line-spacing-regular">
                        <div class="nowrap gr-personal-block" ng-repeat="skill in user.skills track by $index">
                            {{skill.name}}
                            <span class="label label-primary gr-right-5">{{skill.experience}}y</span>
                            <a class="btn btn-xs btn-danger gr-btn-io" ng-show="edit" style="margin-left:-5px;" ng-click="openDeleteModal($index, user.skills)">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </a>
                        </div>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <!--Profile Score -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="btn btn-primary btn-lg gr-summary-label pull-right" style="width:150px">
                        <span class="large-text">{{stats.score}}</span>
                    </div>
                    <div ng-repeat="c in getTimes(stats.score) track by $index" class="gr-vis-year circle"></div>
                </div>
            </div>
            
            <!--Edit Profile-->
            <div ng-show="edit">             
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-th-list gr-right-5"></span>Get more points!</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row tips" ng-repeat="tip in stats.tips | orderBy: 'done'">
                            <div class="col-md-2 gr-right-align">
                                <p class="label label-success">+{{tip.pts}}</p>
                            </div>
                            <div class="col-md-9">
                                <p class="gr-strike-{{tip.done}}">{{tip.msg}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- View Profile (Visualizer) -->
            <div ng-show="!edit" gr-visualized-profile>
            </div>

        </div>        
    </div>
</div>