<div class="modal-content">
    <div class="modal-header">
        <h3>Let's fill up your profile!</h3>
    </div>
    <div class="modal-body">
        It seems you're just starting up to fill your profile. Would you like to import your PDF CV so we can try to auto-fill some details?
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="$close()">Yes, let's upload my CV</button>
        <button class="btn btn-default" ng-click="$dismiss('cancel')">No, I prefer to do it on my own</button>
    </div>
</div>