<div class="modal-body" ng-hide="profile">
	<div ng-hide="disclaimerAccepted">
		<div class="alert alert-warning">
	        <strong>Warning!</strong> This is still an experimental feature. And it will replace the data you currently have in your profile.
	    </div>
	    <div>
		    We will try our best to extract relevant information from your CV, but there is room for error. It is <strong>extremely important</strong> that you go through your profile after the data is extracted, and revise it.
	    </div>
	    <br>
	    <button type="button" class="btn btn-success" ng-click="disclaimerAccepted=true">Ok, I promise to revise after uploading</button> <button type="button" class="btn btn-default" ng-click="$dismiss('cancel')">No, I changed my mind</button>
	</div>
	<div ng-show="disclaimerAccepted">
	    Please make sure you upload a PDF, or a Microsoft Word (DOC, DOCX) version of your CV.
	    <hr>
	    <file-uploader acceptedTypes="application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/msword"></file-uploader>
	</div>
</div>