    <div class="modal-content">
        <div class="modal-body">
            If you withdraw this application, you will not be able to apply to this job posting again. We will also remove access to your profile from this organization, if you don't have any other active applications for this organization. Do you wish to continue?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close(data)">Yes</button>
            <button class="btn btn-warning" ng-click="$dismiss('cancel')">No</button>
        </div>
    </div>
