<div class="modal-content">
    <div class="modal-header">
        <h3>{{meta.heading || 'Qualification'}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="formQualification">
            <div class="form-group">
                <label class="col-md-4 control-label">Name of Qualification</label>
                <autocomplete class="col-md-8" attr-input-class="form-control" attr-placeholder="Name of Qualification" ng-model="data.name" data="queried.qualifications" on-type="updateQualificationsQuery"></autocomplete>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Field of Study</label>
                <autocomplete class="col-md-8" attr-input-class="form-control" attr-placeholder="example: Management Accounting" ng-model="data.field" data="queried.qualificationFields" on-type="updateQualificationFieldsQuery" click-activation="true"></autocomplete>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Issued By</label>
                <div class="col-md-8">
                    <input class="form-control" placeholder="School/University/Institute" ng-model="data.issuedBy" popover="Where did you earn your qualification from?" popover-trigger="focus" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="data.complete">I have completed this qualification
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Month Started</label>
                <div class="col-md-8">
                    <select class="form-control gr-inline-select" ng-options="month for month in months" ng-model="startedOn.month" placeholder="Month" />
                    <select class="form-control gr-inline-select" ng-options="year for year in years" ng-model="startedOn.year" placeholder="Year" />
                </div>
            </div>
            <div class="form-group" ng-show="data.complete">
                <label class="col-md-4 control-label">Month Ended</label>
                <div class="col-md-8">
                    <select class="form-control gr-inline-select" ng-options="month for month in months" ng-model="endedOn.month" placeholder="Month" />
                    <select class="form-control gr-inline-select" ng-options="year for year in years" ng-model="endedOn.year" placeholder="Year" />
                    <div class="alert alert-danger" ng-show="datesMismatch"><b>Check your dates!</b> Month started should be before the month ended.</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submit('q')">OK</button>
        <button class="btn btn-warning" ng-click="$dismiss('cancel')">Cancel</button>
    </div>
</div>