<div class="modal-content">
    <div class="modal-body">
        <div>
        	Please copy this url and send to your friends via email, facebook, IM or anything else. <br>We will track who signs up and credit the signup to your account.
        </div>
        <div ng-show="bounty">
        	If your referral responds to this ad and gets hired, we will contact you and gift you with <span class="label-success">Rs.{{bounty}}/-</span>
        </div>
        <hr>
        <input type="text" class="form-control" ng-model="refurl">
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="$dismiss('cancel')">Ok</button>
    </div>
</div>