<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
            <h3>Warning!</h3>
        </div>
        <div class="modal-body">
        You're about to deactivate this user acoount from your organization. Do you wish to continue?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close(data)">Yes</button>
            <button class="btn btn-warning" ng-click="$dismiss('cancel')">No</button>
        </div>
    </div>
</div>
