<div class="modal-content">
    <div class="modal-header">
        <h3>{{meta.heading || 'Job Tenure'}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="formTenure">
            <div class="form-group">
                <label class="col-md-4 control-label">Designation</label>
                <div class="col-md-8">
                    <input class="form-control" placeholder="Job Role" ng-model="data.position" popover="What is your official designation?" popover-trigger="focus" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Organization</label>
                <div class="col-md-8">
                    <input class="form-control" placeholder="Company" ng-model="data.organization" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="current" ng-change="changeEndDate()">I currently work here
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Month Started</label>
                <div class="col-md-8">
                    <select class="form-control gr-inline-select" ng-options="month for month in months" ng-model="startedOn.month" placeholder="Month" />
                    <select class="form-control gr-inline-select" ng-options="year for year in years" ng-model="startedOn.year" placeholder="Year" />
                </div>
            </div>
            <div class="form-group" ng-hide="current">
                <label class="col-md-4 control-label">Month Ended</label>
                <div class="col-md-8">
                    <select class="form-control gr-inline-select" ng-options="month for month in months" ng-model="endedOn.month" placeholder="Month" />
                    <select class="form-control gr-inline-select" ng-options="year for year in years" ng-model="endedOn.year" placeholder="Year" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">What I did here</label>
                <div placeholder="Example: As a special weapons expert at Wayne Enterprises, I worked directly under the supervision of my CEO to create next-generation weaponry to keep Gotham City clean. My responsibilities included: <ul><li>R n D on a car that can also fly, but has a very uncomfortable seating position</li><li>An EMP gun that disables any electronics nearby, and sometimes itself</li><li>A strong miniaturized laser used as a cutting tool</li></ul> I also was part of a team that built a 3D environment mapping tool using cellphone waves, which was commissioned by National Security Agency. This later got decommissioned in light of the Snowden revelations." class="col-md-11 col-md-offset-1" text-angular ng-model="data.responsibilities" ta-toolbar="[['bold', 'italics', 'ul', 'ol', 'redo', 'undo'], []]"></div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submit()">OK</button>
        <button class="btn btn-warning" ng-click="$dismiss('cancel')">Cancel</button>
    </div>
</div>