<div class="jumbotron">
    <div class="container">
        <h1>Want to hire someone?</h1>
        <p>Just send us your job advertisement/job description/or your requirement in plain English to <a class="label label-success" href="mailto:search@hirewire.lk">search@hirewire.lk</a> and we will create a free account and provide you with eligible candidates in a matter of minutes.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <h1>FAQ</h1>

        <h3>What format should I send in the job advertisement/job description?</h3>
        <p>It could be a PDF, a Word Document, a link to your exisiting job post somewhere on the internet, or just a few words in an email about what your candidate would be like.</p>

        <h3>How can you provide eligible candidates so soon?</h3>
        <p>Our profile matcher powered by a propreitery algorithm can provide you hyper-focused cadidates in seconds. Yes, you can use the profile search however you want once you get your free account.</p>

        <h3>How can this be free?</h3>
        <p>All employers signing up will get free accounts until our beta period ends. After that, you have the option of going for a paid account, or cancelling your account.</p>
    </div>
    <div class="col-md-6 well well-lg">
        <p>Questions? Just drop us a mail at <a class="label label-success" href="mailto:nadeesha@hirewire.lk">nadeesha@hirewire.lk</a> and we'll take care of you.</p>
    </div>
</div>
