<div class="alert alert-info" ng-hide="hideinfo">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="hideinfo=true">&times;</button>
        Please enter as much details as possible and we will create an account for your organization for trial usage.
</div>
<form role="form" class="form-horizontal" ng-hide="view.created" ng-submit="submit(request)">
    <h1>Tell us a bit about your organization</h1>
    <div class="form-group">
        <label class="col-md-2 control-label">Organization Name</label>
        <div class="col-md-4">
            <input placeholder="Must be the legal name" class="form-control" ng-model="request.name" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Contact Number</label>
        <div class="col-md-4">
            <input placeholder="Primary phone number" class="form-control" ng-model="request.contactNumber" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Address</label>
        <div class="col-md-4">
            <textarea rows="3" placeholder="Postal address" class="form-control" ng-model="request.address" required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Web Site</label>
        <div class="col-md-4">
            <input placeholder="http://www.example.org" class="form-control" ng-model="request.url" type="url" required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-4">
            <input placeholder="Email address to reach your organization" class="form-control" ng-model="request.officialEmail" type="email" required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">About the organization</label>
        <div class="col-md-6">
            <textarea rows="5" placeholder="A short description of your organization" class="form-control" ng-model="request.description" required/>
        </div>
    </div>
        <hr>
        <h1>About you</h1>
        <p>We will send you your account activation to this address. Once you activate your account, you can add more users to your account.</p>
        <div class="form-group">
            <label class="col-md-2 control-label">Your Email</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="request.primaryUserEmail" placeholder="Please use an official email address" type="email" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Your Name</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="request.primaryUserName" required/>
            </div>
        </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary" type="submit">Go</button>
        </div>
    </div>
</form>

<div class="jumbotron" ng-show="view.created">
    <div class="container">
        <h1>Thanks for registering!</h1>
        <p>We will need a few hours to review your request. After which, we will send you an email to your designated email address.</p>
        <p>
            <a class="btn btn-primary btn-lg" ui-sref="home">Home Page</a>
            <a class="btn btn-primary btn-lg" ui-sref="contact">Contact Us</a>
        </p>
    </div>
</div>