<div class="jumbotron">
    <div class="container">
        <h1>We want to cut down your cost & time to recruit by 80%</h1>
        <hr>
        <p>Whether you're a small startup, or a mutinational giant, our affordable, intelligent, user-friendly platform will recommend you the people you want, when you want, at fraction of the time and cost of other big players.</p>
        <p>Plus, we're 100% localized for Sri Lanka.</p>
        <br>
        <h2 style="text-align:center;">painless recruiting in 3 easy steps</h2>
        <h1 class="animated shake gr-clickable" style="text-align:center;" ng-click="goToStepOne()">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </h1>
    </div>
</div>
<hr>
<div class="row gr-pitch-box">
    <div class="col-md-8" id="step1">
        <img src="https://s3-us-west-2.amazonaws.com/hirewire-static/images/step1_.gif" class="img-responsive" alt="Image">
    </div>
    <div class="col-md-4">
        <div class="alert alert-info">
            <h1>Step 1</h1>
            <h3>Create your job description</h3>
        </div>
        <p>Our tools help you create a quick job profile in seconds!</p>
        <p>You can keep this profile secret and only forward it to the matching candidates. Or, you can make it public and let us advertise it to all our job seekers.</p>
    </div>
</div>
<div class="row gr-pitch-box">
    <div class="col-md-8">
        <img src="https://s3-us-west-2.amazonaws.com/hirewire-static/images/step2_.gif" class="img-responsive" alt="Image">
    </div>
    <div class="col-md-4">
        <div class="alert alert-info">
            <h1>Step 2</h1>
            <h3>Search for "the" candidate</h3>
        </div>
        <p>The super-easy search interface coupled with the super-intelligent algorithm (we built in our labs) will recommend you the best possible candidates in seconds, ranked with a score, and a summary of their anonymized profiled.</p>
    </div>
</div>
<div class="row gr-pitch-box">
    <div class="col-md-8">
        <img src="https://s3-us-west-2.amazonaws.com/hirewire-static/images/step3_.gif" class="img-responsive" alt="Image">
    </div>
    <div class="col-md-4">
        <div class="alert alert-info">
            <h1>Step 3</h1>
            <h3>Contact the candidate</h3>
        </div>
        <p>Choose as many candidates you like and forward your invitation with a single click.</p>
        <p>After your candidate responds, you will get access to their profiles, contact information, and more.</p>
    </div>
</div>
<hr>
<div class="jumbotron well well-lg price-pitch">
    <div class="container">
        <h1 class="alert alert-success" style="color: white;">Pricing: 0 LKR per Month</h1>
        <br>
        <p>Our platform is free for all eligible organizations until our beta period* ends. That's right! You can you it for free right now, without any strings attached.</p>
        <p>After the free period? Well, you'd be surprised at how affordable our paid plans are!</p>
    </div>
    <p class="small-text pull-right gr-top-5">* Estimated - 31st Decelmber 2014</p>
</div>
<hr>
<div class="well well-lg">
    <form role="form" class="form-horizontal" ng-hide="view.created" ng-submit="submit(request)">
        <div class="gr-center-align">
            <h1>How do I get started?</h1>
            <p>Please fill in the information below. We will get back to you with more information and a free account.</p>
        </div>
        <br>
        <div class="form-group">
            <label class="col-md-4 control-label">Organization Name</label>
            <div class="col-md-4">
                <input placeholder="Must be the legal name" class="form-control" ng-model="request.name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Your Contact Number</label>
            <div class="col-md-4">
                <input placeholder="Primary phone number" class="form-control" ng-model="request.contactNumber" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Your Email</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="request.primaryUserEmail" placeholder="Please use an official email address" type="email" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Your Name</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="request.primaryUserName" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <button class="btn btn-primary" type="submit">Go</button>
            </div>
        </div>
    </form>

    <div class="jumbotron" ng-show="view.created">
        <div class="container">
            <h1>Thanks for your information!</h1>
            <p>We will get back to your shortly.</p>
            <p>
                <a class="btn btn-primary btn-lg" ui-sref="home">Home Page</a>
                <a class="btn btn-primary btn-lg" ui-sref="contact">Contact Us</a>
            </p>
        </div>
    </div>
</div>
