<div class="row">
	<div class="col-md-6 well">
		<h3>By default, this is all the employers can see.</h3>
		<ul>
			<li>It contains none of your personal details</li>
			<li>We left out personally indentifiable information from qualificaitons and work experience such as</li>
				<ul>
					<li>Company Name</li>
					<li>Your tenure description</li>
					<li>Where you obtained your qualificaiton</li>
				</ul>
			<li>It has absolutely no contact information</li>
		</ul>

		<h3>We will only give access to your full profile,</h3>
		<ul>
			<li>After the employer requests your full profile</li>
			<li>And you approve the request through the "My applications" page</li>
		</ul>

		<hr>

		For more on how we at hirewire.lk protect your privacy, read our <a ui-sref="privacyPolicy">privacy policy</a>. Or feel free to <a ui-sref="contact">contact</a> us anytime.
	</div>
	<div class="col-md-6" gr-visualized-profile></div>
</div>
