<div class="row">
	<div class="col-md-5 col-md-offset-1 well">
		<h1>This is how an employer sees your profile.</h1><h3>It does not contain any PII (personally identifiable information) about you.</h3>
		<hr>

		<h3>How would the employer see all my details?</h3>
		<p>After an employer tells us that they are interested in your profile, we will send you an email with a request. After you approve the request, we will send your full profile to the employer.</p>

		<h3>Why do you guys do it this way?</h3>
		<p>We respect your privacy. Employers usually request and keep a large amount of CVs which contain your personal data (like date of birth, contact numbers, addresseses). In wrong hands, this data could be used for anything between SMS spamming to your mobile phone and resetting your e-mail password. We only store the information that employers need, give access to it when they are looking to hire you, and revoke access when they are done with it.</p>

		<hr>

		For more on how we at hirewire.lk protect your privacy, read our <a ui-sref="privacyPolicy">privacy policy</a>. Or feel free to <a ui-sref="contact">contact</a> us anytime.
	</div>
	<div class="col-md-5 col-md-offset-1" gr-visualized-profile></div>
</div>
