<h1>Searching for {{search.name || '...'}}</h1>
<br/>
<div class="row">
    <div class="well col-md-6">
        <div class="row">
            <div class="col-md-6">
                <select name="selType" class="form-control gr-bottom-5" placeholder="Type" ng-model="criterion.name">
                    <option value="" disabled selected>I want someone</option>
                    <option value="AGE_BETWEEN">Aged between</option>
                    <option value="TOTAL_EXPERIENCE_BETWEEN">Has Work Experience between</option>
                    <option value="CURRENT_POSITION_LIKE">With a Current Position like</option>
                    <option value="EXPERIENCE_LIKE">Experienced in</option>
                    <option value="QUALIFICATIONS_LIKE">With Qualifications like</option>
                    <option value="QUALIFICATIONS_FIELD_LIKE">Qualified in</option>
                </select>
            </div>
            <div class="col-md-6">
                <input name="inputValue1" type="text" class="form-control gr-bottom-5" ng-model="criterion.values[0]">
                <input name="inputValue2" type="text" class="form-control gr-bottom-5" ng-model="criterion.values[1]" ng-show="displayNameCollection[criterion.name].isRange" placeholder="to" ng-required="displayNameCollection[criterion.name].isRange">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="margin-top: 17px;">
                <p class="gr-right-align">how important is this?</p>
            </div>
            <div class="col-md-5">
                <slider floor="1" ceiling="7" step="1" precision="1" ng-model="criterion.weight"></slider>
            </div>
            <div class="col-md-3" style="margin-top: 17px;">
                <span style="font-weight:bold;">{{taunts[criterion.weight]}}</span>
            </div>
            <!-- <div class="col-md-4">
                    <div ui-slider min="1" max="10" ng-model="criterion.weight"></div>
                    <span class="gr-top-5">
                        weight
                        <span class="label label-default">{{criterion.weight}}</span>
                    </span>
                </div> -->
        </div>
        <div class="row gr-center-align">
            <a type="button" class="btn btn-success" ng-click="add(criterion)">+ Add this criteria</a>
        </div>
    </div>
    <!-- <div class="panel-footer"><a type="button" class="btn btn-primary" ng-click="add(criterion)">Add</a>
            </div>
        </div> -->
    <!-- </form> -->
    <div class="col-md-6">
        <div class="nowrap gr-label" ng-repeat="c in search.criteria">
            <div><span class="label label-success gr-right-5">{{c.weight}}</span> {{c.displayName}}</div>
            <span ng-repeat="v in c.values" class="label label-primary gr-right-5">{{v}}</span>
            <a class="btn gr-btn-io" style="margin-left:-5px;" ng-click="removeElement(search.criteria, $index)">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
        </div>
    </div>
</div>

<div ui-view></div>
</div>
