<div class="gr-ad-card" ng-repeat="ad in ads | filter:searchText | orderBy:'-bounty'" ng-click="go(ad)" ng-hide="ads.length===0">
    <h4 class="gr-ad-title">{{ad.jobRole}}</h4>
    <span class="label label-info">{{ad.organization.name}}</span>
    <span class="label label-default" ng-hide="ad.bounty">No cash prize</span>
    <span class="label label-danger" ng-show="ad.bounty">Earn {{ad.bounty}}</span>
</div>
<div class="alert alert-info" ng-show="ads.length===0">
    There are currently no advertisements employers have made available for you to view. Please check in later.
</div>